body {
  text-align: justify;
}

.theorem {
  display: block;
  margin: 2em;
  padding: 8px;
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: justify;
  transition: box-shadow 300ms;
}

.theorem .statement {
  display: none;
}

.theorem .tldr {
  display: block;
}

.theorem:hover .statement {
  display: block;
}

.theorem:hover .tldr {
  display: none;
  background-color: #ffffaa;
}

.theorem:hover {
  border: none;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.2);
}

.definition {
  display: block;
  margin: 2em;
  padding: 8px;
  background-color: #33eef2;
  border: 1px solid rgba(0.2, 0.0, 0.2, 0.2);
  text-align: justify;
}

.idea {
  display: block;
  margin: 0.5em;
  padding: 8px;
  background-color: #ffffcc;
  border: 1px solid rgba(0.0, 0.0, 0.0, 0.2);
  text-align: justify;
}
